<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product Form</title>
</head>
<body>
   <h1>Add your product</h1>

   <form>
       <div>
           <label for="title">Title:</label>

           <input name="title" id="title" placeholder="Enter product title" type="text">
       </div>

       <div>
           <label for="price">Price:</label>

           <input name="price" id="price" placeholder="Enter product price" type="text">
       </div>

       <div>
           <label for="image">Product image:</label>

           <input name="image" id="image" type="file">
       </div>

       <div>
           <label for="description">Product description:</label>

           <textarea name="description" id="description" placeholder="Enter product description"></textarea>
       </div>

       <button type="submit">Add product</button>
   </form>
</body>
</html>